@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap');

/* variable */

:root {
    --main-color: #f5a82a;
    --gray-color: #f0f0f0;
    --black-color: #3d3d3d;
    --soft-black-color: #4f4f4f;
    --output-color: #e55039;
    --input-color: #78e08f;
}

/* reset css */

* {
    box-sizing: border-box;
    color: var(--black-color);
    padding: 0;
    margin: 0;
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
}

/* global css */

.right {
    float: right;
}

.clear {
    clear: both;
}

.negative {
    color: var(--output-color);
}

.positive {
    color: var(--input-color);
}

.box {
    width: 100%;
    padding: 1rem;
    min-height: 100px;
    border-radius: 3px;
    margin: 2rem 0px;
}

.center {
    display: block;
    margin: 1rem auto;
}

.bg-shadow {
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.15);
}

.container {
    width: 100%;
    padding: 0px 15px;
    margin: 0px auto;
}

.h-between {
    display: flex;
    justify-content: space-between;
}

.v-center {
    display: flex;
    align-items: center;
}

input, select {
    height: 44px;
    width: 100%;
    border: 1px solid var(--gray-color);
    outline: none;
    box-shadow: none;
    margin-top: 0.5rem;
    margin-bottom: 1rem;
    font-size: 1rem;
}

input {
    padding: 1rem;
}

select {
    padding: 0 1rem;
    appearance: none;
    background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23007CB2%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E');
    background-repeat: no-repeat, repeat;
    background-position: right .7em top 50%, 0 0;
    background-size: .65em auto, 100%;
}

button {
    color: var(--black-color);
    min-width: 44px;
    cursor: pointer;
    padding: 0.6rem 1rem;
    margin: 0.5rem;
    margin-right: 0;
    border-radius: 3px;
    font-weight: 600;
    font-size: 1rem;
    background: var(--gray-color);
    border: 1px solid var(--gray-color);
    outline: none;
}

button.primary {
    color: #FFF;
    background: var(--main-color);
    border: 1px solid var(--main-color);
}

button.danger {
    color: #FFF;
    background: var(--output-color);
    border: 1px solid var(--output-color);
}

button.text-only {
    color: #f6b93b;
    border: 0;
    background: transparent;
}

.sticky {
    position: sticky;
    position: -webkit-sticky;
}

/* spesific */

.header {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    width: 100%;
    background-color: var(--main-color);
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.12);
    height: 4rem;
    line-height: 4rem;
}

header h1 {
    color: #FFF;
    text-align: center;
}

main {
    padding: 6rem 0px !important;
    min-height: 100vh;
    width: 100%;
}

.content {
    width: 68%;
}

#report-form {
    margin: 2rem 0;
    display: none;
}

#report-form input, #report-form select {
    display: block;
}

.report-item {
    width: 100%;
}

.report-item > header > p {
    font-size: 0.75rem;
}

.report-item > header > :first-child {
    color: var(--soft-black-color);
    font-weight: 400;
}

.report-item > header > :last-child {
    background-color: var(--output-color);
    color: #FFF;
    font-weight: 600;
}

.report-item > section {
    margin: 1rem 0px;
}

.report-item > section > h3:first-child {
    color: var(--black-color);
}

.report-item > section > h3:last-child.pemasukan {
    color: var(--input-color);
}

.report-item > section > h3:last-child.pengeluaran {
    color: var(--output-color);
}

.sidebar {
    width: 30%;
    padding-top: 1rem;
}

.sidebar .sticky {
    top: 5rem;
}

.sidebar section > h3 {
    padding-bottom: 0.5rem;
    border-bottom: 1px solid var(--gray-color);
}

.sidebar img {
    display: block;
    width: 100%;
    max-width: 150px;
    margin: 1rem auto;
}

.sidebar section {
    padding: 0.25rem 1rem;
}

footer {
    padding: 1rem;
    color: var(--black-color);
    background-color: var(--gray-color);
}

@media (min-width: 576px) {
    .container {
        max-width: 540px;
    }
}

@media (min-width: 768px) {
    .container {
        max-width: 720px;
    }
}

@media (min-width: 992px) {
    .container {
        max-width: 960px;
    }
}


@media (min-width: 1200px) {
    .container {
        max-width: 1140px;
    }
}

@media (max-width: 768px) {
    main {
        display: block !important;
    }

    main .content {
        width: 100%;
    }

    .sidebar {
        width: 100%;
        padding: 1rem;
    }
}